.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 100%;
  min-height: 900px;
  width: 100%;
  min-width: 600px;
}

.category {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.container {
  width: 80%;
  height: 80%;
  text-align: center;
  border: 1px solid black;
}

.server {
  margin: auto;

  border: 1px solid black;
}
